:root {
  --color-preset: #546e7a;
  --color-light: #819ca9;
  --color-dark: #29434e;
  --color-white: #ffffff;
}

body {
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.profile-pic {
  max-height: 10em;
  max-width: 10em;
  min-width: 8em;
  min-height: auto;
  height: 100%;
  width: 100%;
}

.profile-pic img {
  border-radius: 50%;
}

.head-format {
  padding-top: 1em;
}

.item-pic {
  grid-area: picture;
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.item-card {
  grid-area: card;
  padding: 1em;
  background-color: var(--color-dark);
  border-radius: 1em;
  text-align: center;
  color: var(--color-white);
}

.item-pres {
  grid-area: pres;
  padding: 1em;
  background-color: var(--color-dark);
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: justify;
  color: var(--color-white);
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  background-color: var(--color-preset);
  grid-template-areas: ". picture ." ". card ." ". pres .";
  margin-bottom: 1em;
}

.name {
  font-size: 1.6em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
}

.grid-content {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.grid-content > div {
  display: inline-block;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1em;
}

.grid-content > div:last-child {
  margin-bottom: 2em;
}

.content-contact > div:last-child,
.content-skills > div:last-child {
  display: grid;
  grid-gap: 1em;
  color: var(--color-white);
}

.content-contact > div:last-child {
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.content-skills > div:last-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.strip {
  grid-area: strip;
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  font-family: "Montserrat", sans-serif;
}

.data-container {
  margin-top: 1em;
}

.language-container {
  display: flex;
  flex-direction: column;
}

.language-name {
  padding-top: 1em;
  padding-bottom: 1em;
  color: var(--color-dark);
  font-size: 1.4em;
}

.button-layout {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  color: var(--color-white);
  min-width: fit-content;
}

.button-contact-layout {
  justify-content: flex-start;
  transition: background 0.8s;
  min-width: fit-content;
}

.data-container > a {
  all: unset;
  line-height: 2em;
}

.button-contact-layout:hover {
  background: var(--color-preset);
}

.circle-inner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-outer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color-dark);
  position: relative;
  -webkit-box-shadow: 3px 3px 5px 1px var(--color-light); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 1px var(--color-light); /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 1px var(--color-light); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.circle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.wrapper-block {
  flex: auto;
  padding-top: 1em;
  color: var(--color-dark);
}

.wrapper-block > div {
  margin-bottom: 0.3rem;
}

.title-format {
  font-style: italic;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

.text-format {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.date-format {
  padding-left: 0.5em;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px var(--color-light); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px var(--color-light); /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 3px var(--color-light); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* -------------- Mobile View End -------------- */

@media screen and (min-width: 675px) {
  .grid-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 4fr 4fr 1fr;
    grid-template-areas: "picture picture picture card card ." "picture picture picture pres pres .";
  }
  .item-pres {
    margin-top: -1em;
    border-radius: 0em 0em 0em 1em;
  }
  .item-card {
    border-radius: 1em 0em 0em 0em;
    margin-top: 1em;
    text-align: left;
  }
  .item-pic {
    align-items: center;
    padding-bottom: 1em;
  }
  .grid-header::before {
    content: "";
    background-color: var(--color-dark);
    grid-column: 6;
    grid-row: 1 / span 2;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: -1em;
  }
  .content-contact {
    grid-column: 1 / span 6;
  }
  .content-skills {
    grid-column: 7 / span 6;
  }
  .content-language {
    grid-column: 1 / span 6;
  }
  .content-school {
    grid-column: 7 / span 6;
  }
  .content-work {
    grid-column: 1 / span 12;
  }
  .grid-content {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 2em;
  }
  .strip {
    margin-left: -0.35em;
    margin-right: -0.35em;
  }
}

/* -------------- Tablet View End --------------  */

@media screen and (min-width: 1320px) {
  .grid-content {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto;
    grid-gap: 2em;
  }
  .content-contact {
    grid-area: 1 / span 6;
  }
  .content-skills {
    grid-area: 1 / span 7;
    padding: 0em;
  }
  .content-language {
    grid-area: 1 / span 5;
    padding: 0em;
  }
  .content-school {
    grid-area: 1 / span 6;
  }
  .content-work {
    grid-area: span 1 / span 24;
  }
}
